.container {
	display: grid;
	gap: 20px;
	align-items: center;
	justify-items: center;
	padding: 50px;
}

.header {
	display: grid;
	gap: 20px;
	align-items: center;
	justify-items: center;
}

.features {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.featureContainer {
	display: grid;
	gap: 20px;
	justify-items: center;
	max-width: 350px;
	text-align: center;
}

.featureHeader {
	font-size: 2rem;
}

.featureIcon {
	display: grid;
	align-items: center;
	justify-items: center;
	width: 40px;
	height: 40px;
	border: 2px solid;
	border-radius: 50%;
}